head
    title Gulp Boilerplate
    meta(
        http-equiv="Content-Type"
        content="text/html; charset=utf-8"
    )
    link(
        rel='stylesheet'
        href='vendors/bootstrap/bootstrap.min.css'
        )
    link(
        rel='stylesheet' 
        href='styles/synopsis.css'
        )
    script(src='vendors/jquery/jquery.min.js')
    script(src='vendors/bootstrap/bootstrap.bundle.min.js')
    script(src='vendors/fontawesome/fontawesome-all.min.js')